body {
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: #131921;
    padding: 2vw;
}

.selectors{
    border: 2px solid lightgray;
    margin: 15px 0;
}

.button {
    background-color:  #FFD700; 
    color: black; 
    border: 2px solid #FFD700;
  }


.main_center {
    display: flex;
    justify-content: space-evenly;
    border: 2px;
}

